body {
  background-color: #c52a2a;
}

header {
background-color: #43516e;
 padding: 20px;
  color: #ca2a2a;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #e6cfcf;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}
