body{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: sans-serif;
    background: black;
}

.container {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.boxcontainer{
    background: pink;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.uno {
    background: orange;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
